# MAIN
NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3000
NEZON_DISABLE_BOOTSTRAP=true

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=sample-campus

# OAuth
CLIENT_ID=local-client-id
CLIENT_SECRET=local-client-secret
OAUTH_URL=https://oauth2.mezon.ai

# Auth
JWT_SECRET=local-jwt-secret
JWT_REFRESH_SECRET=local-jwt-refresh-secret

# Mezon
BOT_TOKEN=local-bot-token
MEZON_BOT_ID=local-mezon-bot-id
MEZON_BOT_TOKEN=local-mezon-bot-token
